Dear student,

<p>
  Your dissertation will be checked and will appear in York Digital Library in due course. If you have any queries, please contact us <a href="mailto:dlib-info@york.ac.uk">dlib-info@york.ac.uk</a>.
</p>

York Digital Library Team

