<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  If you are experiencing a problem with the Master dissertation submission system, or want to ask us anything else please <a href="mailto:dlib-info@york.ac.uk">email us</a>.
</p>
