<% provide(:title, "Help") %>
<br/><br/><br/><br/>

<h3>Thesis upload help guide</h3>
<br/>
<h4>Uploading your file(s)</h4>


<p>
  The dissertation you upload must be the final version after it has been marked. Files can be dragged and dropped onto the green box labelled ‘drop files here’, or you can use the ‘Choose files’ button to add files via a browse window. You can add as many files as you wish, but please bear the following guidance in mind.
</p>
<ol>
  <li>
  Your dissertation main text should be uploaded as a single file (e.g. not a separate file for each chapter). You can upload appendices as additional files.
  </li>
  <li>
  We would strongly prefer PDF as the format for your main dissertation text and the uploader requires you to upload a PDF  as the main text. If there are strong reasons why PDF is not a suitable format (e.g. it contains interactive elements within the body of the dissertation), please get in touch with us and we will make arrangements to upload your dissertation.
  </li>
  <li>
  Do not upload any files that were not part of your submission for marking.
  </li>
</ol>
<br/>
Once you have uploaded your files and they appear in the ‘uploaded files’ box, select which file is your main dissertation text by checking the ‘main’ radio button beneath it. (This will only appear under PDF files). If you do not select a main file, you will be prompted to do so before the files will upload to the Digital Library.
<br/><br/>

<h4>Entering your information</h4>

<p class="helptitle">Author’s name</p>
This field should already have your name in it. (If you are depositing someone else’s dissertation, over type their name, in the format surname, forename).
<br/><br/>

<p class="helptitle">Dissertation title</p>
Enter the title of your dissertation as it appears on the title page of the dissertation, including any sub title. This is a mandatory field and the form will not save if you do not fill it in.
<br/><br/>

<p class="helptitle">Date</p>
Select the year when you submitted your dissertation for marking
<br/><br/>

<p class="helptitle">Abstract</p>
You can paste the abstract of your dissertation in here.
<br/><br/>

<p class="helptitle">Degree type</p>
Select the type of degree award that the dissertation was submitted towards.
<br/><br/>

<p class="helptitle">Degree supervisor</p>
You can enter the name of your degree supervisor (surname, forename)
<br/><br/>

<p class="helptitle">Department</p>
Your department should already be selected. If not, you can select it from the dropdown list.
<br/><br/>

<p class="helptitle">Subject keyword</p>
You can enter a subject keyword. Click the green cross next to the field to add additional fields, if you want to add more than one keyword.
<br/><br/>

<p class="helptitle">Rights holder</p>
Enter the name of the person who owns the copyright of the dissertation (this will usually be the author).
<br/><br/>

<p class="helptitle">Licence</p>
If you are depositing your own dissertation, click the top radio button. If you are depositing on behalf of someone else click the bottom radio button.
<br/><br/>

When you have uploaded your files and entered your information, click the ‘upload dissertation’ button. You will get a confirmation email and we will check your information and add your dissertation to York Digital Library in due course.
<br/>
<br/>



