<div class="center jumbotron">
  <br/><br/>
  <h1>Welcome</h1>

  <h2>
    <%= link_to image_tag("thesis.jpg", alt: "Theis"), '#' %>
    York Digital Library Dissertation submission
  </h2>

  <br/><br/>
  <%= link_to "Upload my dissertation",  new_thesis_path, class: "btn btn-lg btn-primary" %>
</div>
