<li class="col-xs-3">
    <%= link_to image_tag(uploaded_file.url, alt: 'download file', class: 'img-thumbnail'),
                uploaded_file.remote_url, target: '_blank' %>
    <p><%= uploaded_file.title %></p>
</li>