<li class="col-xs-3">
  <%= link_to image_tag(@uploaded_file.thumbnail, alt: @uploaded_file.title, class: 'img-thumbnail', size: '100x100'),
              @uploaded_file.thumbnail, target: '_blank'%>
  <% if @uploaded_file.title.present? %>
     <p><%=@uploaded_file.title %></p>
  <% end %>
</li>