<h1>Batch Ingests</h1>

<% if self.current_user.nil? %>

    <p>Please login!</p>

<% else %>

    <div class="pretty_button">
        <%= link_to 'New Ingest', new_ingest_path %>
    </div>

<p id="notice"><%= notice %></p>

<% if session[:failures] %>

        <%= render 'failures' %>

<% end %>

<br /><br />

<% end %>
