<br/><br/>
<h3>New Batch Ingest</h3>
<br/>

<% if self.current_user.get_department_code == 'libarch' or self.current_user.get_department_code == 'directinfo' %>

    <%= render 'form' %>

<% else %>

    <p><%= self.current_user.get_department_code %> is not authorized to view this page.</p>

    <br /><br />

<% end %>