<h4>Sorry, some problem happened in our end [Error: 500]</h4>
<br/>

Please <%= link_to "contact us", contact_path %> to let us know what happened. Please provide as much information as you can about what you were trying to access.