.pretty_button {
  font-weight: bold;
  width: 100px;
  height: 50px;
  background-color: gainsboro;
  padding-top: 15px;
  padding-left: 8px;
  border-radius: 5px;
  border-bottom-color: darkgrey;
}

.ingest {
  display: none;
}

.field-toggle-off{
  display: none;
}
