// Place all the styles related to the Theses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";


#files-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}


.progress-wrapper {
  display: none;
}

#dropzone {
  //background: palegreen;
  background: #BDFCC9;
  //width: 150px;
  text-align: center;
  font-weight: bold;
  //height: 50px;
  //line-height: 50px;
  border: 1px solid darken(palegreen, 10%);
  @include border-radius(10px);
}

#dropzone.in {
  //width: 600px;
  //height: 200px;
  //line-height: 200px;
  font-size: larger;
}

#dropzone.hover {
  //background: lawngreen;
  background: palegreen;
  border: 1px solid darken(lawngreen, 10%);
}

#dropzone.fade {
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
  @include opacity(1);
}
.fileview {
  min-width:  100px;
  max-width:  160px;
  min-height: 155px;
  max-height: 155px;
  overflow:   hidden;
}
.imagewrapper {
  min-width:  80px;
  max-width:  80px;
  min-height: 80px;
  max-height: 80px;
  overflow:   hidden;
}
.imagetitle {
  min-width:  80px;
  max-width:  160px;
  min-height: 35px;
  max-height: 35px;
  text-align: left;
  overflow:   hidden;
}
.defaultfile{
  min-width:  80px;
  max-width:  80px;
  min-height: 20px;
  max-height: 20px;
  overflow:   hidden;
}
.imagedel {
  min-width:  80px;
  max-width:  80px;
  min-height: 20px;
  max-height: 20px;
  overflow:   hidden;
}
.add_image {
  cursor: pointer;
}
.delete_img_template{
  visibility: hidden;
}
.theses_title{
  background-color: #FFFF00;
}
div#spinner
{
  display: none;
  background-color: #111;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('uploading.gif');
  background-position: center;
  background-repeat: no-repeat;
}
.file_upload_button{
  position: relative;
  left: -13px;
  top: -22px;
}

.helptitle{
  font-weight: bold;
}