<footer class="footer container-fixed">
  <small>
    The <a href="/">Upload System</a>
    by <a href="http://dlib.york.ac.uk/">York Digital Library</a>
  </small>
  <nav>
    <ul>
      <% if self.current_user.get_department_code == 'libarch' %>
        <li><%= link_to "Ingests",               ingests_path %></li>
      <% end %>
      <li><%= link_to "Help",               help_path %></li>
      <li><%= link_to "Legal Statements",   'http://www.york.ac.uk/docs/disclaimer/disclaimer.htm' %></li>
      <li><%= link_to "Contact us",         contact_path %></li>
    </ul>
  </nav>
</footer>
