<header class="navbar navbar-fixed-top navbar-inverse container-fixed">
  <div class="container-fixed" style="padding-left: 0px;">
    <%= link_to image_tag("yodl.jpg", alt:"York Digital Library Thesis submission"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
